{% extends "base.html" %}

{% block announce %}
  Feel free to contact me via 
  <a href="https://www.linkedin.com/in/kuanchoulai/" target="_blank" rel="noopener noreferrer">
    <span class="twemoji">
      {% include ".icons/fontawesome/brands/linkedin.svg" %}
    </span>
    <strong>LinkedIn</strong>
  </a>
  or
  <a href="mailto:kuanchoulai10@gmail.com" target="_blank" rel="noopener noreferrer">
    <span class="twemoji">
      {% include ".icons/material/email.svg" %}
    </span>
    <strong>Email</strong>
  </a>
{% endblock %}