.red {
  color: red !important;
}

.orange {
  color: orange !important;
}

.blue {
  color: blue !important;
}

.indigo {
  color: rgb(65, 81, 181) !important;
}

.brown {
  color: rgb(137,81,41) !important;
}
